<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if any_posts_or_comments?(@user.posts) %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <h4>No Posts</h4>
<% end %>

<% if any_posts_or_comments?(@user.comments) %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <h4>No Comments</h4>
<% end %>

<% if any_posts_or_comments?(@user.all_favorites) %>
  <h2>Favorites</h2>
  <% @user.all_favorites.each do |favorite| %>
    <div>
      <%= image_tag favorite.post.user.avatar_url(65), class: 'pull-left' %>
      <%= render favorite.post %>
    </div>
  <% end %>
<% else %>
  <h2>No Favorites</h2>
<% end %>